/*.text_container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    text-align: center;

}*/


#headerBG{
  background-color :white;
  font-family: 'Bungee Shade';
text-align: center;
font-size: 300%;
}

#SoftwareEngineering{
    background-color :#FF007F;//pink
    margin: 0px;
    padding:-100px;
}
#softText{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Bungee';
  color:white;
  font-size:240%


}
#sEngineering{
  text-align: center;
  font-family: 'Open Sans';
  position: relative;
color:white;
}

#Math{
     background-color : #82FF3F;
}
#math{
  text-align: center;
  font-family: 'Open Sans';
  position: relative;
color:white;

}

#mathText{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Bungee';
  color:white;
  font-size:240%
}


#sevenSoftware{
  background-color :#CC2F09;

blog
}

#sevenSoftText{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Bungee';
  color:white;
  font-size:240%
}
#Blog{
  background-color : #7ECC14;

}
#blogText{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Bungee';
  color:white;
  font-size:240%
}

#blog{
  text-align: center;
  color:white;

}

}
#Fun{
  background-color :#00FC5A;
      text-align: center;

}

#funText{
  padding-top: 5%;
  padding-bottom:: 5%;
  font-family: 'Bungee';
color:white;

}




#Policies{
  background-color :white;
      text-align: center;
  border-left: 2px solid black;
  border-top: 2px solid black;
    border-bottom: 2px solid black;
  border-right: 1.5px solid black;


}
#policyText{
  font-family: 'Bungee';
  color:#FF007F;

}

#Links{
   background-color :white;
     text-align: center;
     border-right: 2px solid black;
     border-top: 2px solid black;
       border-bottom: 2px solid black;
     border-left: 1.5px solid black;


}
#linkText{
  font-family: 'Bungee inline';
  color:#82FF3F;

}
